.H-stack {
  display: flex;
  align-items: center;
}
.H-stack__spacing-1 {
  gap: var(--spacing-1);
}

.H-stack__spacing-2 {
  gap: var(--spacing-2);
}

.H-stack__spacing-3 {
  gap: var(--spacing-3);
}

.H-stack__spacing-4 {
  gap: var(--spacing-4);
}

.H-stack__spacing-6 {
  gap: var(--spacing-6);
}

.H-stack__spacing-8 {
  gap: var(--spacing-8);
}
