.H-stack {
  display: flex;
  align-items: center;

  &__spacing-1 {
    gap: var(--spacing-1);
  }

  &__spacing-2 {
    gap: var(--spacing-2);
  }

  &__spacing-3 {
    gap: var(--spacing-3);
  }

  &__spacing-4 {
    gap: var(--spacing-4);
  }

  &__spacing-6 {
    gap: var(--spacing-6);
  }

  &__spacing-8 {
    gap: var(--spacing-8);
  }
}
