.Dashboard-grid__right-bottom-panel {
  border: 2px solid red;
  min-height: 500px;
}

.trending-equipment-panel {
  &__select {
    display: flex;
    //position: absolute;
    flex-direction: row-reverse;
    padding: var(--spacing-4);
  }
  &__chart-wrapper {
    height: calc(100% - 3.75rem);
    padding: var(--spacing-4);

    canvas {
      min-height: 250px;
    }
  }
}
