.trending-equipment-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.trending-equipment-panel::part(body) {
  background-color: var(--color-background-base-default);
  overflow: hidden;
}

.trending-equipment-panel__select {
  width: 100%;
  height: 100%;
}

.trending-equipment-panel__chart-wrapper {
  flex-grow: 1;
  padding: var(--spacing-4);
  overflow: auto;
}

.tooltip-box {
  background-color: var(--color-background-base-selected);
  padding: var(--spacing-1);
  border: none;
}
