.trending-equipment-panel {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__select {
    display: flex;
    flex-direction: row-reverse;
    padding: var(--spacing-4);
  }
  &__chart-wrapper {
    flex-grow: 1;
    padding: var(--spacing-4);
  }
}
