.summary-data > span {
  font-size: var(--font-size-5xl);
  font-weight: var(--font-weights-bold);
}

.table-wrapper rux-table-header-row rux-icon {
  vertical-align: middle;
  width: 32px;
}

.table-wrapper rux-table-header-row .visible {
  visibility: visible;
}

.table-wrapper rux-table-header-row .hidden {
  visibility: hidden;
}

#conflicts-table rux-table-header-row rux-table-header-cell {
  max-width: 4.5rem;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}

#conflicts-table {
  max-width: 68rem;
}

#conflicts-table rux-table-row rux-table-cell {
  max-width: 6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
