.job-details-panel {
  flex-direction: column;
}

.jobs-wrapper {
  display: flex;
}

.jobs-wrapper rux-textarea {
  margin-bottom: var(--spacing-4);
}

.jobs-wrapper rux-input,
.jobs-wrapper rux-select {
  display: flex;
  margin-block: var(--spacing-2);
}

.jobs-wrapper rux-input::part(form-field),
.jobs-wrapper rux-select::part(select) {
  flex-direction: row;
  width: 18rem;
}

.jobs-wrapper rux-input::part(label),
.jobs-wrapper rux-select::part(label) {
  margin-right: var(--spacing-2);
  margin-top: var(--spacing-1);
  width: 10rem;
}

.table-section .Astro-react-table {
  margin-top: var(--spacing-6);
}

.table-section span {
  margin: auto;
  font-size: var(--font-size-lg);
}

.conflicts-section h2 {
  margin: var(--spacing-4);
}

.jobs-details-section {
  width: 45rem;
  padding-inline: var(--spacing-6);
}

.jobs-details-section rux-checkbox {
  padding-top: var(--spacing-3);
}

.table-section {
  height: 55rem;
}

.job-details-panel footer[slot='footer'] {
  justify-content: flex-end;
  display: flex;
  gap: var(--spacing-3);
}

.job-details-panel ul li {
  border-bottom: none;
}

.job-details-panel ul li:nth-of-type(1),
.job-details-panel ul li:nth-of-type(3) {
  margin-top: var(--spacing-8);
}
