.maintenance-panel {
  padding: var(--spacing-0) var(--spacing-3) var(--spacing-4);
  gap: var(--spacing-3);
  height: 100%;
}

rux-container.jobs-section {
  padding: var(--spacing-3) var(--spacing-3) var(--spacing-0) var(--spacing-3);
}

rux-container.jobs-section::part(body) {
  display: flex;
  flex-direction: row;
}

.schedule-job-section {
  flex: 1;
}

rux-container.jobs-section::part(header) {
  padding: 0;
  margin: var(--spacing-3);
  background-color: var(--color-background-surface-default);
}

.job-section-wrapper {
  flex: 8;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--spacing-6);
  overflow: auto;
  max-height: 15.5rem;
}

rux-container.jobs-section {
  margin-right: var(--spacing-4);
}

.maintenance-history-panel {
  padding: var(--spacing-3);
}

.maintenance-wrapper h2,
.jobs-section h2 {
  margin: var(--spacing-3);
}

.maintenance-panel header[slot='header'] {
  display: flex;
  justify-content: space-between;
}
