.Equipment-status__parent {
  height: calc(100% - 3.75rem);
  padding: var(--spacing-6);
  position: relative;
}

.Equipment-status__chart-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  gap: var(--spacing-2);
}

.Equipment-status__pie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75%;
  width: 20%;
  gap: var(--spacing-2);
}

.Equipment-status__legend {
  font-size: var(--font-size-xs);
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-4);
  color: var(--color-text-secondary);
}

.Equipment-status__legend ul li {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  border-bottom: none;
  padding-block: var(--spacing-1);
}

.Equipment-status__legend ul li span {
  height: 0.75rem;
  width: var(--spacing-3);
}

#busy-negative {
  background: var(--color-palette-teal-200);
}

#busy {
  background: var(--color-palette-purple-200);
}

#idle {
  background: var(--color-palette-teal-500);
}

#inoperable {
  background: var(--color-palette-brightblue-500);
}

.Equipment-status__parent .labels {
  display: flex;
  margin-left: 8%;
  justify-content: space-between;
  margin-right: 15rem;
}
