.Contact-details-grid__equipment-string
  .config-wrapper
  .Panel-sub-container__body {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.Contact-details-grid__equipment-string .sub-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Contact-details-page {
  padding: var(--spacing-0) var(--spacing-6) var(--spacing-4);
}

.contact-details-sat {
  display: flex;
  margin-top: var(--spacing-6);
  margin-bottom: -1.5rem;
}

.contact-details-sat rux-status {
  margin-inline: var(--spacing-4);
}

.contact-details-page {
  height: calc(100vh - 10.25rem);
  padding: var(--spacing-0) var(--spacing-6) var(--spacing-4);
}

.contact-details-log {
  max-height: 34.5rem;
}
