.Details-common-grid {
  --columns: minmax(22rem, 2fr) minmax(44rem, 4fr) minmax(30rem, 4fr);

  display: grid;
  grid-template-columns: var(--columns);
  gap: var(--spacing-4);
}

.Details-common-grid header {
  padding-block-end: var(--spacing-2);
}
