.breadcrumb-search-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.Breadcrumb-nav::part(container) {
  padding: var(--spacing-6);
}

.breadcrumb-search-wrapper rux-input {
  margin-block: auto;
  margin-right: var(--spacing-6);
}
