.log-wrapper {
  height: 98%;
  width: 41.5rem;
  display: flex;
}

rux-log {
  overflow: auto;
  height: 100%;
  flex: 1;
  width: 40rem;
}

rux-log::part(log-notification) {
  max-width: 39rem;
  padding-right: none;
}
