.log-container {
  display: flex;
  flex-direction: column;
}

.log-container header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: var(--spacing-4);
}

.event-log .log-header {
  align-items: center;
  display: grid;
  gap: var(--spacing-2);
  grid-template-columns: 2fr 3fr;
  background-color: var(--color-background-surface-header);
  padding: var(--spacing-2);
  padding-right: var(--spacing-6);
  box-shadow: var(--shadow-overlay);
  height: 2.625rem;
}

.event-log .log-list {
  overflow-y: scroll;
}

.event-log .log-list li {
  align-items: center;
  display: grid;
  gap: var(--spacing-2);
  grid-template-columns: 2fr 3fr;
  padding: var(--spacing-2);
}
