.Global-status-bar {
  /* fix for popup sometimes appearing beneath items in the body */
  z-index: 100;
}

.Global-status-bar__status-indicators {
  align-items: center;
  display: flex;
  gap: var(--spacing-4);
}

rux-monitoring-icon {
  padding-right: var(--spacing-1);
}

.monitoring-icons:nth-of-type(1) {
  border-left: var(--border-width-xs) solid
    var(--color-background-interactive-muted);
  padding-left: var(--spacing-8);
}

rux-monitoring-progress-icon::part(monitoring-label) {
  margin-top: var(--spacing-1);
}

rux-monitoring-progress-icon::part(radial-progress) {
  height: 2.5rem;
}

.software-popup-icon:hover {
  background-color: var(--color-background-surface-hover);
}

.software-popup-icon::part(monitoring-label) {
  color: var(--color-text-interactive-default);
}

.software-popup-icon::part(monitoring-label):hover {
  color: var(--color-text-interactive-hover);
}

rux-global-status-bar {
  padding-right: var(--spacing-4);
}

rux-monitoring-progress-icon {
  margin-bottom: 0.325rem;
}

.software-popup-icon {
  margin-right: var(--spacing-6);
}

#grm-popup-menu {
  height: calc(var(--spacing-14) + var(--spacing-050));
}

rux-toast-stack {
  top: 96px;
}

rux-toast:nth-child(n + 5) {
  display: none;
}

rux-menu-item[value='themeToggle'] span {
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
}
