.Global-status-bar__status-indicators {
  align-items: center;
  display: flex;
  gap: var(--spacing-4);
}

/* .Global-status-bar__status-indicators :nth-child(3) {
  border-left: var(--border-width-xs) solid
    var(--color-background-interactive-default);
  padding-left: var(--spacing-10);
}

.Global-status-bar__status-indicators :nth-child(2) {
  padding-right: var(--spacing-3);
} */
