.Global-status-bar {
  /* fix for popup sometimes appearing beneath items in the body */
  z-index: 100;
}

.Global-status-bar__status-indicators {
  align-items: center;
  display: flex;
  gap: var(--spacing-4);
}

rux-monitoring-progress-icon::part(monitoring-label) {
  margin-top: var(--spacing-1);
}

rux-monitoring-progress-icon::part(radial-progress) {
  height: 2.5rem;
}

rux-monitoring-progress-icon {
  margin-bottom: 0.325rem;
}

.software-popup-icon {
  border-right: var(--border-width-xs) solid
    var(--color-background-interactive-muted);
  padding-right: var(--spacing-6);
}

#grm-popup-menu {
  height: calc(var(--spacing-14) + var(--spacing-050));
}

rux-toast-stack {
  top: 96px;
}

rux-toast:nth-child(n + 5) {
  display: none;
}
