.table-wrapper rux-table-header-row rux-icon {
  vertical-align: middle;
  width: 32px;
}

.table-wrapper rux-table-header-row .visible {
  visibility: visible;
}
.table-wrapper rux-table-header-row .hidden {
  visibility: hidden;
}
