.Alert-details-grid {
  display: grid;
  // Screen height minus the height of the Global Status Bar
  height: calc(100vh - 6rem);
  padding: var(--spacing-4) var(--spacing-6);
  gap: var(--spacing-3);
  grid-template-rows: 45% 55%;
  grid-template-areas:
    'top-panel'
    'bottom-panel';

  &__top-panel {
    grid-area: top-panel;
    background-color: var(--color-background-surface-default);
    box-shadow: var(--container-color-border) 0 0 0 1px;
  }

  &__bottom-panel {
    grid-area: bottom-panel;
    background-color: var(--color-background-surface-default);
    box-shadow: var(--container-color-border) 0 0 0 1px;
  }
}

.Alert-details {
  &__actions {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color-background-surface-default);
    gap: var(--spacing-2);
    padding: var(--spacing-4);
  }

  &__container {
    width: 100%;
    height: calc(100% - 8rem);
    overflow: auto;
    display: grid;
    grid-template-columns: 20% 30% 50%;
  }

  &__general-details {
    padding: 0.5rem 0.9375rem;
  }

  &__description {
    padding: 0.5rem 0.9375rem;
  }

  &__affected-contacts {
    padding: 0.5rem 0.9375rem;
  }

  &__table-container {
    border: 1px solid var(--color-palette-neutral-1000);
    box-shadow: 0 0.5rem 1.25rem var(--color-background-base-default);
  }

  &__table-heading {
    padding-bottom: 0.3rem;
    font-weight: var(--font-heading-4-font-weight);
    font-size: var(--font-heading-4-font-size);
  }
}
