.Alert-details-grid {
  display: grid;
  // Screen height minus the height of the Global Status Bar
  height: calc(100vh - 6rem);
  padding: var(--spacing-4) var(--spacing-6);
  gap: var(--spacing-3);
  grid-template-rows: 35% 65%;
  grid-template-areas:
    'top-panel'
    'bottom-panel';

  &__top-panel {
    grid-area: top-panel;
    background-color: var(--color-background-surface-default);
    box-shadow: var(--container-color-border) 0 0 0 1px;
  }

  &__bottom-panel {
    grid-area: bottom-panel;
    background-color: var(--color-background-surface-default);
    box-shadow: var(--container-color-border) 0 0 0 1px;
    overflow-y: auto;
  }
}

.Alert-details {
  &__actions {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color-background-surface-default);
    gap: var(--spacing-2);
    padding: var(--spacing-4);
  }
}
