.Alerts-panel {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-4);
    background-color: var(--color-background-base-header);
  }

  &__alerts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__selections {
    display: flex;
    gap: var(--spacing-4);
  }
}
