.contact-title {
  align-items: center;
  display: flex;
  padding: var(--spacing-4);

  rux-status {
    margin-right: 0.75rem;
  }
}

.Contact-details-grid {
  display: grid;
  gap: var(--spacing-4);
  grid-template-columns: 20rem 2fr 1fr;
  height: calc(100% - 7.5rem);
  overflow-y: auto;

  form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
  }

  &__details {
    padding: var(--spacing-4);
  }

  &__equipment-string {
    header {
      margin-bottom: var(--spacing-4);
    }

    .equipment-settings {
      border: 1px solid var(--container-color-border);
      padding: var(--spacing-4);
    }

    .icons-list {
      font-size: 0.85rem;
    }

    .icons {
      display: flex;
      flex-wrap: wrap;
    }

    hr {
      border: none;
      border-bottom: 1px solid var(--container-color-border);
      width: 100%;
    }

    .sub-grid {
      display: grid;
      gap: var(--spacing-4);
      grid-template-columns: 1fr 1fr;
    }
  }
}
