.Contacts-summary-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Contacts-summary-panel__chart-wrapper {
  position: relative;
  flex-grow: 1;
  padding: var(--spacing-4);
}

.Contacts-summary-panel__pop-up {
  position: absolute;
}

.Contacts-summary-panel__pop-up .table-wrapper {
  overflow-y: auto;
}

.Contacts-summary-panel__pop-up
  .table-wrapper
  rux-table-header-row
  rux-table-header-cell {
  max-width: none;
}

.Contacts-summary-panel__pop-up .table-wrapper rux-table-cell rux-status {
  padding-right: var(--spacing-0);
}

.Contacts-summary-panel__pop-up::part(popup-content) {
  background-color: var(--color-background-surface-header);
}

.Contacts-summary-panel__pop-up .pop-up__header {
  background-color: var(--color-background-base-default);
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-2);
}

.Contacts-summary-panel__table-container {
  height: 11rem;
}

.trending-equipment-panel__select {
  position: relative;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  width: 18rem;
  margin-left: calc(100% - 20.5rem);
  position: absolute;
  padding-top: var(--spacing-3);
}

.slider-wrapper {
  z-index: 1;
}

.apexcharts-bar-area {
  cursor: pointer;
}

.legend {
  display: flex;
  margin-inline: var(--spacing-2);
  align-items: center;
}

.legend label {
  margin-inline: var(--spacing-2);
  position: relative;
}

.legend label:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1.575rem;
}

/* Upcoming Checkbox */
.legend label:nth-of-type(1):after {
  border-bottom: var(--spacing-1) solid var(--color-data-visualization-1);
}

/* Executing Checkbox */
.legend label:nth-of-type(2):after {
  border-bottom: var(--spacing-1) solid var(--color-data-visualization-2);
}

/* Complete Checkbox */
.legend label:nth-of-type(3):after {
  border-bottom: var(--spacing-1) solid var(--color-data-visualization-3);
}

/* Failed Checkbox */
.legend label:nth-of-type(4):after {
  border-bottom: var(--spacing-1) solid var(--color-data-visualization-4);
}

.legend rux-checkbox {
  margin-right: var(--spacing-2);
  margin-top: var(--spacing-050);
}
