.Contacts-summary-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Contacts-summary-panel__chart-wrapper {
  position: relative;
  flex-grow: 1;
  padding: var(--spacing-4);
}

.Contacts-summary-panel__pop-up {
  position: absolute;
  /* top: 80%;
  left: 50%; */
}

.Contacts-summary-panel__pop-up::part(container) {
  width: 30rem;
}

.Contacts-summary-panel::part(popup-content) {
  width: 28rem;
}

.Contacts-summary-panel__table-container {
  height: 11rem;
}

.trending-equipment-panel__select {
  position: relative;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  width: 18rem;
  margin-left: auto;
}

/* if (!chartContext || !chartContext.active || !chartContext.active.length) {
  return;
}

const { datasetIndex, index } = chartContext.active[0];
const selectedDataset = datasets[datasetIndex];

const chart = document.getElementById('contacts-summary-chart');
const rect = chart.getBoundingClientRect();
if (!rect) {
  return;
}
setPopup({
  title: `${index}`, // Use dataPointIndex instead of event.dataPointIndex
  length: datasets.length,
  open: true,
  top: rect.top + 56, // Use rect.top instead of y
  left: rect.left, // Use rect.left instead of x
  height,
  width,
});
};

useEffect(() => {
const chart = document.getElementById('contacts-summary-chart');
chart.addEventListener('click', (event) => {
const chartContext = Chart.helpers.getChartInstance(chart).getContext('2d');
onClick(event, chartContext);
});

return () => {
chart.removeEventListener('click', onClick);
};
}, []); */
