.Current-contacts-panel {
  height: 100%;
}

.Current-contacts-panel__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-4);
  padding-top: var(--spacing-0);
  background-color: var(--color-background-surface-header);
}

.Current-contacts-panel__group {
  display: flex;
  align-items: center;
  gap: var(--spacing-12);
}

.Current-contacts-panel__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Current-contacts-panel__contacts.failed {
  color: var(--color-status-serious);
}

.Current-contacts-panel__selections {
  display: flex;
  gap: var(--spacing-4);
}

.Current-contacts-panel__heading {
  background-color: var(--color-background-surface-header);
  border-top: 1px solid var(--color-background-base-default);
  padding: var(--spacing-2);
  padding-right: var(--spacing-6);
  box-shadow: var(--shadow-overlay);
  height: 2.625rem;
}

.Current-contacts-panel__heading,
.Current-contacts-panel__item {
  display: grid;
  grid-template-columns: 1.25rem 4rem 3rem 2fr repeat(2, 1fr);
  align-items: center;
}

.Current-contacts-panel__item {
  padding: var(--spacing-2);
}

.Current-contacts-panel__sort {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.Current-contacts-panel__list {
  overflow-y: scroll;
  height: calc(100% - 11.375rem);
}

/* .Current-contacts-panel__details {

}

.Current-contacts-panel__details--wrapper {
    
} */

.Current-contacts-panel .state-step {
  text-transform: capitalize;
}

.Current-contacts-panel .state-step.failed {
  font-weight: var(--font-control-body-1-bold-font-weight);
  color: var(--color-status-serious);
}
