/* HEADER STYLES */

.Current-contacts-panel__group {
  display: flex;
  align-items: center;
  gap: var(--spacing-12);
  line-height: calc(28 / 24);
  background-color: var(--color-background-base-header);
  padding-inline: var(--spacing-4);
  padding-bottom: var(--spacing-4);
}

.summary-data {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: var(--font-size-base);
}

.summary-data > span {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weights-bold);
}

.filter-buttons {
  justify-content: flex-end;
  margin-left: auto;
}

.table-wrapper rux-table-header-row rux-icon {
  vertical-align: middle;
  width: 32px;
}

.table-wrapper rux-table-header-row .visible {
  visibility: visible;
}

.table-wrapper rux-table-header-row .hidden {
  visibility: hidden;
}
