.Current-contacts-panel {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-4);
    padding-top: var(--spacing-0);
    background-color: var(--color-background-surface-header);
  }

  &__group {
    display: flex;
    align-items: center;
    gap: var(--spacing-12);
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.failed {
      color: var(--color-status-serious);
    }
  }

  &__selections {
    display: flex;
    gap: var(--spacing-4);
  }

  &__heading {
    background-color: var(--color-background-surface-header);
    border-top: 1px solid var(--color-background-base-default);
    padding: var(--spacing-2);
    padding-right: var(--spacing-6);
    box-shadow: var(--shadow-overlay);
  }

  &__heading,
  li {
    display: grid;
    grid-template-columns: 1.25rem 4rem 3rem 2fr repeat(2, 1fr);
    align-items: center;
  }

  &__sort {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &__list {
    overflow-y: scroll;
    height: calc(100vh - 44.4rem);
  }

  &__details {
    background-color: var(--color-background-base-default);
    padding: var(--spacing-4);

    &--wrapper {
      align-items: flex-start;
      display: grid;
      grid-template-columns: 4fr 1fr;
    }

    &--selection {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
    }
  }

  .state-step {
    text-transform: capitalize;

    &.failed {
      font-weight: var(--font-control-body-1-bold-font-weight);
      color: var(--color-status-serious);
    }
  }
}
