.Current-contacts-panel {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-4);
    background-color: var(--color-background-base-header);
  }

  &__group {
    display: flex;
    align-items: center;
    gap: var(--spacing-12);
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.failed {
      color: var(--color-status-serious);
    }
  }

  &__selections {
    display: flex;
    gap: var(--spacing-4);
  }

  th {
    text-align: left;
  }

  td {
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .state-step {
    text-transform: capitalize;
    &.failed {
      font-weight: var(--font-control-body-1-bold-font-weight);
      color: var(--color-status-serious);
    }
  }
}
