.Dashboard-grid {
  display: grid;
  // Screen height minus the height of the Global Status Bar
  height: calc(100vh - 6rem);
  padding: var(--spacing-4) var(--spacing-6);
  gap: var(--spacing-3);
  grid-template-columns: minmax(37.5rem, 1fr) minmax(0, 2fr);
  grid-template-rows: 3.75rem repeat(2, minmax(0, 1fr));
  grid-template-areas:
    'left-panel tabs-bar'
    'left-panel right-top-panel'
    'left-panel right-bottom-panel';

  &__left-panel {
    grid-area: left-panel;
    background-color: var(--color-background-surface-default);
    box-shadow: var(--container-color-border) 0 0 0 1px;
  }

  &__tabs-bar {
    grid-area: tabs-bar;
  }

  &__right-top-panel {
    grid-area: right-top-panel;
    background-color: var(--color-background-surface-default);
    box-shadow: var(--container-color-border) 0 0 0 1px;
  }

  &__right-bottom-panel {
    grid-area: right-bottom-panel;
    background-color: var(--color-background-surface-default);
    box-shadow: var(--container-color-border) 0 0 0 1px;
  }
}

.Alert-details-grid {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-0) var(--spacing-6) var(--spacing-4);
  gap: var(--spacing-3);
}

.Contacts-list-panel {
  height: calc(100vh - 11rem);
  padding: var(--spacing-4) var(--spacing-6);

  &__container {
    height: 100%;
    background-color: var(--color-background-surface-default);
    box-shadow: var(--container-color-border) 0 0 0 1px;
  }

  &__panels {
    height: calc(100% - 4.25rem);
    display: flex;
  }

  &__left-panel {
    height: 100%;
    width: 100%;
    transition: width 0.2s linear;

    &.isOpen {
      width: calc(100% - var(--right-panel-width));
      transition: width 0.3s linear;
    }
  }
}
