.parent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-y: auto;
}

.legend {
  font-size: 14px;
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem 1rem 1rem;
}

.legendItem {
  font-size: 14px;
  margin-right: 1rem;
}

.key-dot {
  display: inline-block;
  height: 10px;
  margin-right: 0.5em;
  width: 10px;
}

.busy {
  background: #938bdb;
}

.idle {
  background: #00c7cb;
}

.inoperable {
  background: #4dacff;
}

.grid-zone__content {
  overflow-y: auto;
  display: flex;
  flex-flow: column;
}

.chart-container {
  display: grid;
  grid-template-columns: repeat(4, 12rem);
  gap: var(--spacing-3);
  align-items: center;
  justify-content: space-evenly;
  padding: var(--spacing-0) var(--spacing-0);
}

.doughnut-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--spacing-6);
}

.divider {
  height: 11rem;
  width: 1px;
  margin-left: 0.5rem;
}

.divider:after {
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  height: 100%;
  display: block;
  content: '';
}

.rf {
  margin-left: 45%;
  margin-top: 5%;
  font-size: 20px;
}

.comms {
  margin-left: 35%;
  margin-top: 5%;
  font-size: 20px;
}

.digital {
  margin-left: 35%;
  margin-top: 5%;
  font-size: 20px;
}

.facilities {
  margin-left: 30%;
  margin-top: 5%;
  font-size: 20px;
}

.grid-zone-wrap {
  height: 100%;
  background: #1d2f41;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
