.Equipment-status {
  &__parent {
    height: calc(100% - 5rem);
    padding: var(--spacing-4);
  }

  &__chart-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-evenly, center;
  }

  &__doughnut-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80%;
  }

  &__legend {
    font-size: 14px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }

  &__legendItem {
    font-size: 14px;
    margin-right: 1rem;
  }

  &__chartName {
    // margin-top: 1rem;
  }

  &__divider {
    height: 11rem;
    width: 1px;
  }

  &__divider:after {
    border-left: 1px solid #2b659b;
    height: 100%;
    display: block;
    content: '';
  }
}

.key-dot {
  display: inline-block;
  height: 13px;
  margin-right: 0.5em;
  width: 40px;
}

.busy {
  background: #938bdb;
}

.idle {
  background: #00c7cb;
}

.inoperable {
  background: #4dacff;
}
