.equipment-status {
  height: calc(100% - 5rem);
  padding: var(--spacing-4);
}

.chart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-evenly, center;
}

.Equipment-status-doughnut-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 80%;
}

.legend {
  font-size: 14px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.legendItem {
  font-size: 14px;
  margin-right: 1rem;
}

.key-dot {
  display: inline-block;
  height: 13px;
  margin-right: 0.5em;
  width: 40px;
}

.busy {
  background: #938bdb;
}

.idle {
  background: #00c7cb;
}

.inoperable {
  background: #4dacff;
}

.chartName {
  margin-top: 1rem;
}
.divider {
  height: 11rem;
  width: 1px;
}

.divider:after {
  border-left: 1px solid #2b659b;
  height: 100%;
  display: block;
  content: '';
}
