.dashboard-page {
  display: grid;
  overflow: hidden;
  /* Screen height minus the height of the Global Status Bar */
  height: calc(100vh - 6rem);
  padding: var(--spacing-4) var(--spacing-6);
  gap: var(--spacing-3);
  grid-template-columns: minmax(37.5rem, 1fr) minmax(0, 2fr);
  grid-template-rows: 3.75rem repeat(2, minmax(0, 1fr));
  grid-template-areas:
    'left-panel tabs-bar'
    'left-panel right-top-panel'
    'left-panel right-bottom-panel';
}

.Dashboard-page__left-panel {
  grid-area: left-panel;
  background-color: var(--color-background-surface-default);
  box-shadow: var(--container-color-border) 0 0 0 1px;
}

.Dashboard-page__tabs-bar {
  grid-area: tabs-bar;
}

.Dashboard-page__right-top-panel {
  grid-area: right-top-panel;
  background-color: var(--color-background-surface-default);
  box-shadow: var(--container-color-border) 0 0 0 1px;
}

.Dashboard-page__right-bottom-panel {
  grid-area: right-bottom-panel;
  background-color: var(--color-background-surface-default);
  box-shadow: var(--container-color-border) 0 0 0 1px;
}

.alert-details-page {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-0) var(--spacing-6) var(--spacing-4);
  gap: var(--spacing-3);
}

.contacts-list-page {
  /* 100vh - (height of global status bar + height of breadcrumb element) */
  height: calc(100vh - 10.25rem);
  padding: var(--spacing-0) var(--spacing-6) var(--spacing-4);
}

.contact-details-page {
  height: calc(100vh - 10.25rem);
  padding: var(--spacing-0) var(--spacing-6) var(--spacing-4);
}

rux-container {
  height: 100%;
}

rux-container::part(container) {
  display: flex;
  flex-direction: column;
  height: calc(100% - 2px);
  overflow-y: hidden;
}

rux-container::part(body) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  padding: 0;
  /* to color small space above scrollbar */
  background-color: var(--color-background-base-header);
}

/* GlOBAL TABLE STYLES */

.table-wrapper {
  overflow-y: scroll;
}

.table-wrapper::-webkit-scrollbar-track {
  margin-top: 40px;
}

rux-table-header {
  top: 0;
  position: sticky;
  z-index: 10;
}

rux-status::part(status) {
  margin-inline: auto;
}
