.schedule-job-wrapper {
  display: flex;
}

.job-request-section {
  width: 33rem;
  padding: var(--spacing-6);
}

.conflicts-section {
  flex: 1;
}

.table-section {
  height: 30rem;
}

.schedule-job footer[slot='footer'] {
  justify-content: flex-end;
  display: flex;
  gap: var(--spacing-3);
}

.schedule-job ul li {
  border-bottom: none;
}
