.Affected-contacts {
  border: 1px solid var(--color-background-base-default);

  ul {
    border: 1px solid var(--color-background-base-default);
  }

  li {
    align-items: center;
    padding: var(--spacing-2);

    &:last-child {
      border-bottom: none;
    }
  }
}
